
html, body
{
	padding:0px;
	margin:0px;
	font-size: 16px;
}

body
{
	font-family: verdana;
}	

#result
{
	border:1px solid gray;
	background: rgba(0, 0, 0, .2);
	position: absolute;
	bottom:0px;
	left:0px;
	padding:5px;
	line-height: 20px;
	width:180px;
	font-size: 12px;
}

#header
{
	width:100%;
	border:1px dashed gray;
	border-width: 1px 0px;
	margin-top:20px;
}

#navbar
{
	border:1px solid black;
	margin:5px auto;
}

#navlogo
{
	display: block;
	width:150px;
	height:40px;
	border:1px solid gray;
}

#navlinks
{
	border:1px solid gray;
}

#navlinks div
{
	border:1px solid green;
	margin:2px;
	display: inline-block;
}

/*This removes the small space between elements.*/
#navlinks{font-size: 0px;}
#navlinks div{font-size: 16px;}

/**** Commenting out the floats and chaing navlinks div to display inlineblock ****/