html, body
{
	margin:0px;
	padding:0px;
}

html {overflow-y: scroll;}

body
{
	padding:50px;
}

.text
{
	font-family: Verdana;
	font-size:16px;
	font-weight: normal;
}

.box
{
	box-sizing: border-box;
	display: block;
}

.inline
{
	box-sizing: border-box;
	display: inline-block;
}

#wrapper
{
	width:100%;
	max-width:280px;
	border:1px dashed gray;
	padding:10px;
	margin:auto;
}

form
{
	border-bottom:1px solid lightgray;
	padding-bottom:10px;
}

.inputs
{
	/*border:2px solid blue;*/
}

.row
{
	/*border:1px solid green;*/
	height:40px;
	line-height: 40px;
}

.left {float:left;text-align: left;width:40%;}
.right {float:right;text-align: right;width:60%;}

input[type="text"], input[type="password"]
{
	width:100%;
	padding:4px;
	border-radius: 3px;
	border:1px solid #ccc;
}