body
{
	background-color: #010101;
}

.partition
{
	padding:0px 10px;
	min-width: 340px;	
}

#main{/*min-width: 320px;*/}

p{color:white;}

.logo
{
	font-family: sans-serif;
	font-size: 90px;
	color:#ddd;
	font-weight: 900;
	line-height: 70px;
}

.logoSub
{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	color:white;
	white-space: nowrap;
	line-height:40px;
	margin-left:30px;
	text-shadow:0px 0px 15px gold,0px 0px 15px gold;
}

/*Outer Nav*/
#outerNav {padding-top:30px;}
#outerNav > div:nth-child(1){float:left;}
#outerNav > div:nth-child(2){float:right;margin-right:15px;}

#mobileButton
{
	position: absolute;
	width:40px;
	top:32px;
	right:32px;
}

#mobileButton > div:nth-child(even)
{
	height:9px;
}

#mobileButton > div:nth-child(odd)
{
	height: 5px;
	background-color:white;
}

#mobileButton
{
	display: none;
}

.links
{
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	font-weight: normal;
	color:#ccc;
	margin:0px 10px;
}

.links:nth-child(1){margin-left:0px;}
.links:nth-last-child(1){margin-right:0px;}


/*Make this javascript eventually*/
@media screen and (max-width: 1020px)
{
	#outerNav{padding-top:10px;}

	#mobileButton{top:32px;right:22px;}
}