html {overflow-y: scroll;}

html, body
{
    margin:0px;
    padding:0px;
}

body
{
    padding:10px 10px 40px 10px;
    background-color: #E5ECF3;
    background-image: url(https://www.affinityinformatics.com/affinity/core/content/images/ai4/bg.png);
    background-attachment: fixed;
    background-repeat: repeat;
}

.wrapper
{
    width: 100%;
    max-width: 1100px;
    min-width:320px;
}

/*What are these for?*/
.sidebar-nav{padding: 9px 0;}
.nav-btn-list li
{
    font-size: 15px !important;
    padding: 5px !important;
    line-height: 20px;
}